*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Ariel', 'sans-serif';
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    
}
.row{
    max-width: 1140px;
    margin: 0 auto;
}
header{
    background-image: url("../Contents/hero.jpg");
    background-size: cover;
    background-position:center;
    height: 100vh;
}
h1{
    margin: 00;
}